* {
  box-sizing: border-box;
}


header {
  background-color: #45484c;
  padding: 5px;
  text-align: center;
  color: white

}

.top_nav {
  text-align: center;
}

.top_nav a {
  display: inline-block;
  background-color: #c3c5c9;
  text-decoration: none;
  padding: 10px;
  color: white;
  margin-top: 1px;
  font-size: 20px;
}

.second-header h2 {
  display: block;
  background-color: #00ffde;
  text-align: left;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;

}

.photos {
  display: inline-block;
}



.links {
  padding: 5px;
  background-color: yellow;
  text-align: center;
}

.links a {
  text-decoration: none;
  color: black;
}

.grid {
  text-align: center;
}

footer {
  display:block;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 8px;
}
